:root {
  --base: #ffc600;
  --spacing: 10px;
  --blur: 10px;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: lightgrey;
}

header {
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  color: white;
}

h1 {
  font-weight: 700;
}

label {
  margin: 0 10px 0 40px;
}

.hl {
  color: var(--base);
}

.controls {
  text-align: center;
  margin: 5rem 3rem 5rem 3rem;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  margin-bottom: 1rem;
}

.imgWhale{
  filter: blur(var(--blur));
  height: 100%;
  width: 80%;
  box-sizing: border-box;
  border-style: solid;
  border-width: var(--spacing);
  border-color: var(--base);
  background-image: url(img/whale.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
