body {
  font-family: 'Roboto Slab', serif;
  height: 100vh;
  background-image: url(img/jeff-mills.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

header {
  text-align: center;
  margin-top: 50px;
  letter-spacing: 10px;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: row;
}

.keys {
  margin: 1rem;
}
