body {
  font-family: 'Roboto Slab', serif;
  background-image: url(img/jeff-mills.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
}

header {
  margin-top: 50px;
  text-align: center;
  letter-spacing: 10px;
}

kbd {
  font-family: 'Roboto Slab', serif;
  display: block;
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 1.1em;
}

.keys {
  display: flex;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
}

.key {
  margin: 1rem;
  text-align: center;
  height: 6rem;
  width: 6rem;
  transition: all .07s ease;
  border-width: 4px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  background-color: rgba(30, 30, 30, 0.5);
}

.playing {
  transform: scale(1.1);
  border-color: yellow;
  box-shadow: 0 0 10px #303030;
}

.sound {
  font-size: 0.8em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: yellow;
}
